{% load static %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- CoreUI and necessary plugins-->
<script defer src="{% static "assets/vendors/@coreui/coreui/js/coreui.bundle.min.js" %}"></script>
<!--[if IE]><!-->
<script defer src="{% static "assets/vendors/@coreui/icons/js/svgxuse.min.js" %}"></script>
<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
{% comment %} <script src="{% static 'js/htmx/htmx.min.js' %}"></script> {% endcomment %}
<script src="{% static 'js/htmx/ext/event-header.js' %}"></script>
{% comment %} <script src="{% static 'assets/js/confirm_delete.js' %}"></script> {% endcomment %}




