{% load static %}
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
	<div class="c-sidebar-brand d-lg-down-none">
		<img class="c-sidebar-brand-full" src="{% static "assets/brand/OPTICS_light.png" %}" height="46" />
		<img class="c-sidebar-brand-minimized" src="{% static "assets/brand/OPTICS_dark.png"%}" height="46" />
	</div>
	<ul class="c-sidebar-nav">
		<li class="c-sidebar-nav-title">Campaigns</li>

		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{% url 'campaigns' %}">
				<img src="{% static 'assets/vendors/@coreui/icons/svg/airplane-mode.svg' %}" class="c-sidebar-nav-icon">
				Campaigns
			</a>
		</li>
		<li class="c-sidebar-nav-title">Reference Tables</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{% url 'reference_tables' %}">
				<img src="{% static 'assets/vendors/@coreui/icons/svg/spreadsheet.svg' %}" class="c-sidebar-nav-icon">
				Reference Tables</a>
		</li>
		
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{% url 'threat_db' %}">
				<img src="{% static 'assets/vendors/@coreui/icons/svg/spreadsheet.svg' %}" class="c-sidebar-nav-icon">
				Threat Database<span class="badge badge-info">NEW</span></a>
		</li>
		<li class="c-sidebar-nav-title">Statistics</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{% url 'mission_dashboard' %}">
				<img src="{% static 'assets/vendors/@coreui/icons/svg/speedometer.svg' %}" class="c-sidebar-nav-icon">
				Mission Dashboard<span class="badge badge-danger">SOON</span></a
			>
		</li>
		<li class="c-sidebar-nav-title">Application</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="https://github.com/jvanlint/OPTICS/issues">
				<img src="{% static 'assets/vendors/@coreui/icons/svg/bug.svg' %}" class="c-sidebar-nav-icon">
				Report a Bug</a>
		</li>
		<li class="c-sidebar-nav-item">
			<a class="c-sidebar-nav-link" href="{% url 'about' %}">
				<img src="{% static 'assets/vendors/@coreui/icons/svg/info.svg' %}" class="c-sidebar-nav-icon">
				About OPTICS</a>
		</li>
	</ul>
	<button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>