asgiref>=3.5.2
Django>=4.0.4
gunicorn>=20.1.0
psycopg2-binary
sqlparse>=0.4.4
whitenoise>=6.2.0

# Used to separate env variables from .env files needed for development
python-decouple
# Used to resize images on upload.
django_resized

#Required for models to added to db
Pillow
requests
# Ability to import and export from admin interface.
django-import-export

django-crispy-forms
crispy-bootstrap4
xhtml2pdf

django-allauth
PyJWT
django-htmx
tzdata

# S3 required packages
django-storages
boto3

# Maintenance mode package
django-maintenance-mode

# Request stats
django-request


# BetterStack Logging
logtail-python

# Miz_Import

#Run Lua code in Python
lupa

# Need by miz importer app

anytree
pyproj

# Faster uploading for static files
collectfast

# Reference django-debug-toolbar to stop urls.py breaking in prod
django-debug-toolbar
