  {% load static%}
  <div hx-swap="outerHTML">
    {% if alert_text %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error:&nbsp;</strong>{{alert_text}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <form id='form' hx-encoding='multipart/form-data' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-post="{% url 'upload_miz' %}">

      <div class=" col-sm-12 mt-5">
        <h6>Select mission file to import</h6>
        <div class="input-group mt-3">
          <div class="custom-file">
            <input id="customFile" type="file" accept=".miz" class="custom-file-input" name='file'>
            <label class="custom-file-label" for="customFile">Choose file (.miz)</label>
          </div>
          <button class="btn btn-primary" hx-trigger="click">Upload</button>
        </div>
      </div>
      <a href="{{ return_url }}" class="btn btn-warning" role="button">Cancel</a>

      <div class="htmx-indicator d-flex justify-content-center">
        <strong>Processing...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
      </div>
    </form>
    

  </div>
